@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika+New+Basic&family=Crimson+Text&family=Indie+Flower&family=Josefin+Sans:wght@100&family=Jura:wght@300&family=Langar&display=swap');
body {
	margin: 0;
	padding: 0;
	background-repeat:no-repeat;
	background-size:cover ;
	background-image:url(../img/citysky.svg);
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #F1F5F8;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #290fbe;
	width: 100px;
	height: 150px;
	border-radius:20px;
	background-image: url(../img/docGuy_Page.svg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 8px 16px 0px rgba(182, 54, 54, 0.521);
	padding: 12px 16px;
	z-index: 1;
	right: 430px;
	top: 70px;
  }


  .dropdown-content2 {
	display: none;
	position: absolute;
	border-radius:20px;
	background-image: url(../img/drop.svg);
	background-size: cover;
	width: 90px;
	height: 120px;
	box-shadow: 0px 8px 16px 0px rgba(27, 192, 241, 0.2);
	padding: 22px 16px;
	z-index: 1;
	right: 300px;
	top: 70px;
  }
  
  #dropdown:hover .dropdown-content {
	display: block;
  }

  #dropdown:hover .dropdown-content2 {
	display: block;
  }

  #about{
    font-family: 'Amatic SC', cursive;
    font-family: 'Andika New Basic', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Sans', sans-serif;
	font-family: 'Jura', sans-serif;
	font-family: 'Langar', cursive;
	text-align:center;
	font-size: 25px;
	width:500px;
	margin: 50px auto;
	

  }

#header
{
background-image:url(../img/header.svg);
background-repeat:no-repeat;
width:921px;
height:72px;
margin: auto;
position: relative; 
z-index: 1;
}

#main
{
  margin: 0 auto 0 auto; 
  display: block; 
  height:auto;
  position: relative; 
}

#main #star{
	position: absolute;
	right: 0;
	animation-duration: 3s;
 animation-iteration-count: infinite;
 animation-name: bounce-1;
 animation-timing-function: linear;
 }   

 @keyframes bounce-1 {
        0%   { transform: translateY(20px); }
        50%  { transform: translateY(-30px); }
        100% { transform: translateY(20px); }
    }

#main #start{
		position: absolute;
		left: 0;
		animation-duration: 5s;
	 animation-iteration-count: infinite;
	 animation-name: bounce-1;
	 animation-timing-function: linear;
	 padding-left: 30px;
	 }   
	 
	@keyframes bounce-1 {
			0%   { transform: translateY(20px); }
			50%  { transform: translateY(-30px); }
			100% { transform: translateY(20px); }
		}
	
#main #starts{
			position: absolute;
			right: 250px;
			animation-duration: 7s;
		 animation-iteration-count: infinite;
		 animation-name: bounce-1;
		 animation-timing-function: linear;
		
		 }   
		
 @keyframes bounce-1 {
				0%   { transform: translateY(10px); }
				50%  { transform: translateY(-20px); }
				100% { transform: translateY(10px); }
			}


#header h1
{
display:block;
float:left;
line-height:25px;
margin-left:17px;
width:230px;
color:#FFFFFF;
text-align:left;
font-size:35px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
float:left;

}

#header ul {
	padding: 0px;
	list-style-type: none;
	height:21px;
	text-align:center;
	height:85px;
	overflow:hidden;
}
#header ul li , #header ul li a, #header ul li a:visited{
	display:block;
	float:left;
	margin: 0px;
	text-align:center;
	line-height:72px;
	width:133px;
	color:#73deff;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	font-family: 'Bungee', cursive;
	
}

#header ul li:hover{
  color:#d93bee;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 40%;
  border-bottom: 0;
  padding-bottom: .1em;
  text-decoration: none;

}

.act a{
	color:#000;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	line-height:30px;

}
.act a:hover{
	color:#110909;
	letter-spacing: 4px;
}



